// Colors
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$light_grey: rgb(245, 245, 245);

// Font sizes
$standard_font_size_sm: 16px;
$standard_font_size_xl: 17px;

// Font weights
$semi_bold_font_weight: 600;

// Text colors
$primary_text_color: $black;
$secondary_text_color: $white;

// Widths
$max_content_width_xl: 1250px;

// Spacing
$standard_content_space_sm: 24px;
$standard_content_space_md: 48px;
$standard_content_space_xl: 80px;

// Other
$light_opacity: 0.87;
